<style>

.serif {
  font-family: Menlo, sans-serif, monospace;
}

.center_vert {
  margin: 0;
  position: absolute;
  top: 15%;
  left: 5%;
}

.dropdown {
  width:150px;
  height:200px
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

input[type=submit] {
  background-color: #998877;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

input[type=submit]:hover {
  background-color: #778899;
  color: white;
  border-radius: 5px;
}

</style>

</style>

<div class="center_vert serif"
  <p style="font-size:20px"><h1>Porfolio Analyser</h1>
    <br>
    <b>Please choose an option from below:</b>
  <br>
  <br>
  <br>
  <form class="" action="/add_tickers" method="get">
    <input type="submit" name="Add tickers" value="Add Tickers">
  </form>
  <form class="" action="/tickers" method="get">
    <input type="submit" name="view_tickers" value="View Portfolio">
  </form>
  <form class="" action="/stock_return" method="get">
    <input type="submit" name="stock_return" value="View Portfolio's Stock Return">
  </form>
  <form class="" action="/portfolio_return" method="get">
    <input type="submit" name="portfolio_return" value="View Portfolio Return">
  </form>
  <form class="" action="/price_history" method="get">
    <input type="submit" name="price_history" value="View Stock Price History">
  </form>
  <form class="" action="/port_opt" method="get">
    <input type="submit" name="port_opt" value="Optimize Portfolio">
  </form>
